# Has to be either development or production
NODE_ENV=development

# Version identifier of the current API spec (needs to be incremented on breaking changes)
API_VERSION=v2

# Gotten from creating a client on https://genius.com/api-clients
GENIUS_ACCESS_TOKEN=

# Default is 8074
HTTP_PORT=8074
# Defaults to 0.0.0.0 (listen on all interfaces)
#HTTP_HOST=
# Whether to trust upstream (reverse) proxies like nginx
TRUST_PROXY=true
# Defaults to true - whether to serve the documentation page
HOST_HOMEPAGE=true

# Whether one of the auth tokens below is required to be able to interact with the API
AUTH_REQUIRED=false
# Comma-separated list of HTTP bearer tokens that are excluded from rate limiting (on geniURL's side)
# If you want to run the unit tests or latency test, at least one token needs to be generated and entered here
# Generate new tokens with `pnpm gen-token [<amount> <length>]`
AUTH_TOKENS=
